--extra-index-url https://vnstocks.com/api/simple

flask
pandas
numpy
matplotlib
mplfinance
scipy
hmmlearn==0.3.3
scikit-learn==1.7.2
TA-Lib
langchain
langchain-core
langchain-groq
groq
httpx
tiktoken
langgraph
Pillow
requests
transformers
torch
sentencepiece
vnstock==4.0.9
vnai==2.6.2
python-dotenv
beautifulsoup4
gunicorn
