flask
pandas
numpy
matplotlib
mplfinance
scipy
hmmlearn==0.3.3
scikit-learn==1.7.2
TA-Lib
langchain
langchain-core
langchain-groq
groq
langgraph
Pillow
requests
transformers
torch
sentencepiece
vnstock>=3.0.0
python-dotenv
beautifulsoup4
gunicorn
